.background{
    width: 100%;
    height: 100vh;
    background-color: #052C23;
}

.background img{
    animation: slideimg 3s ease;
    width: 60%;
    z-index: 1;
}

.background div{
  width: 80%;
  position: absolute;
  top: 20%;
  left: 10%;
  animation: 3s ease 1s slideimg forwards;
  opacity: 0;
  font-size: 1.2rem;
}

.background p{
  color: #EAF3C9;
  text-align: center;
}

.background h1{
    color: white;
    font-size: 6rem;
    text-align: center;
}

.background button{
  width: max-content;
  font-size: 1.8rem;
  padding: 1.5rem 4.5rem;
  color: white;
  background-color: #B49562;
  border: none;
  border-radius: 2rem;
  margin: 3rem;
}


@keyframes slideimg {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
