header img{
    position: absolute;
    left: 2%;
    top: 2%;
}

header h1{
    width: max-content;
    margin: auto;
    margin-top: 3rem;
}





main{
    padding: 4rem;
}

main .section1{
    font-size: 1.3rem;
}

main .section2 div:first-child{
    width: 30%;
    margin-top: 3rem;
}

main .section2 input{
    width: 30%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 2rem;
}